<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
>
<meta charset="UTF-8">
<div layout:fragment="content" class="container d-flex" style="width: 100vw; justify-content: center;">
    <div class="" style="width: 400px;">
        <div class="alert alert-primary" th:if="${mensagem != null}" th:text="${mensagem}"
             style="margin-top:80px; margin-bottom: -50px">
        </div>
        <div class="card mb-4" style="margin-top:80px">
            <div class="card-header">
                <p class="text-center fs-4">Cadastrar Administrador</p>
            </div>
            <div class="card-body">
                <form method="POST" th:object="${usuario}" th:action="@{/usuario/formadmin}">
                    <div class="form-group mb-3">
                        <label for="nome">Nome: </label>
                        <input class="form-control" th:field="*{nome}" type="text" required></input>
                        <div class="text-danger" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="login">Login: </label>
                        <input class="form-control" th:field="*{login}" type="text" required></input>
                        <div class="text-danger" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="senha">Senha: </label>
                        <input class="form-control" th:field="*{senha}" type="password" required></input>
                        <div class="text-danger" th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}"></div>
                    </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</div>

</html>