<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
>
<meta charset="UTF-8">
<div layout:fragment="content">
    <div class="alert alert-primary mb-4" style="margin-top:80px" th:if="${#lists.isEmpty(listaEventos)}">
        Nenhum evento cadastrado
    </div>
    <div id="eventos " class="d-flex flex-row mb-4" style="margin-top:80px">
        <div th:each="evento : ${listaEventos}" class="card mb-3 me-3" style="width: 18rem;">
            <img th:src="@{/evento/imagem(id=${evento.id})}" class="card-img-top" alt="Imagem evento">
            <div class="card-body" style="text-align: center">
                <h5 class="card-title" th:text="${evento.nome}"></h5>
                <p class="card-text" th:text="${evento.descricao}"></p>
                <p class="card-text" th:text="'Local: ' + ${evento.casaDeShow.nome}"></p>
                <a href="#" class="btn btn-primary ">Comprar</a>
            </div>
        </div>
    </div>
</div>

</html>